<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.inked_lab.inked">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".InkedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light"/>
        <activity
            android:name=".Views.DeveloperView.DeveloperSettingsActivity"
            android:label="@string/title_activity_developer">
        </activity>
        <activity android:name=".Views.DeveloperView.DeveloperAccessActivity">
        </activity>
        <activity android:name=".Views.MainTabController.MainTabControllerActivity">
        </activity>
        <activity android:name=".Views.StockCalendar.StockCalendarActivity">
        </activity>
        <activity android:name=".Views.DeveloperView.TestViews.TestNotificationActivity">
        </activity>

        <service android:name=".AndroidServices.MainFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".AndroidServices.MainFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".Views.DeveloperView.TestViews.DeviceInformationViewActivity">
        </activity>
    </application>

</manifest>